{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
  <div class="page-header">
    <h1>Donations
      <small>Varna region</small>
    </h1>
  </div>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#current" aria-controls="current" role="tab" data-toggle="tab">Current</a>
      </li>
      <li role="presentation">
        <a href="#past" aria-controls="past" role="tab" data-toggle="tab">Past</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="current">
        <div class="css-table__wrapper">
          <div class="css-table">
            <div class="css-table__row">
              <div class="css-table__item">Institution</div>
              <div class="css-table__item">Gift</div>
              <div class="css-table__item">Deadline</div>
            </div>
            <div class="css-table__row">
              <div class="css-table__item">
                  Dapibus ac facilisis in Dapibus ac facilisis in Dapibus ac facilisis in
                  <div class="small">Varna</div>
              </div>

              <div class="css-table__item">Gift 1</div>
              <div class="css-table__item">12.12.2016</div>
            </div>
            <div class="css-table__row">
              <div class="css-table__item">
                  Dapibus ac facilisis in Dapibus ac facilisis in
                  <div class="small">Varna</div>
              </div>
              <div class="css-table__item">Gift 2</div>
              <div class="css-table__item">12.12.2016</div>
            </div>
            <div class="css-table__row">

              <div class="css-table__item">
                  Dapibus ac facilisis in
                  <div class="small">Varna</div>
              </div>
              <div class="css-table__item">Gift 3</div>
              <div class="css-table__item">12.12.2016</div>
            </div>
            <div class="css-table__row">

              <div class="css-table__item">
                  Dapibus ac facilisis in
                  <div class="small">Varna</div>
              </div>
              <div class="css-table__item">Gift 4</div>
              <div class="css-table__item">12.12.2016</div>
            </div>
          </div>
        </div> <!-- /container -->
      </div>
      <div role="tabpanel" class="tab-pane" id="past">
        <div class="css-table__wrapper">
          <div class="css-table">
            <div class="css-table__row">
              <div class="css-table__item">Institution</div>
              <div class="css-table__item">Gift</div>
              <div class="css-table__item">Deadline</div>
            </div>
            <div class="css-table__row">
              <div class="css-table__item">
                1Dapibus ac facilisis in Dapibus ac facilisis in Dapibus ac facilisis in
                <div class="small">Varna</div>
              </div>

              <div class="css-table__item">Gift 1</div>
              <div class="css-table__item">12.12.2016</div>
            </div>
            <div class="css-table__row">

              <div class="css-table__item">
                Dapibus ac facilisis in Dapibus ac facilisis in
                <div class="small">Varna</div>
              </div>
              <div class="css-table__item">Gift 2</div>
              <div class="css-table__item">12.12.2016</div>
            </div>
            <div class="css-table__row">

              <div class="css-table__item">
                Dapibus ac facilisis in
                <div class="small">Varna</div>
              </div>
              <div class="css-table__item">Gift 3</div>
              <div class="css-table__item">12.12.2016</div>
            </div>
            <div class="css-table__row">

              <div class="css-table__item">
                Dapibus ac facilisis in
                <div class="small">Varna</div>
              </div>
              <div class="css-table__item">Gift 4</div>
              <div class="css-table__item">12.12.2016</div>
            </div>
          </div>
        </div> <!-- /container -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
