{% extends 'admin.base.html.twig' %}

{% block body %}

<div class="container">
    <div class="page-header">
        <h1>Administration</h1>
    </div>
    <a class="btn btn-info pull-right" href="admin/campaign-add.html">Add</a>
    <div class="col-md-12">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Year</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Select</th>
            </tr>
            </thead>
            <tbody>
            {% for campaign in campaigns %}
            <tr>
                <td class="col-md-3">{{ campaign.getName() }}</td>
                <td class="col-md-3">{{ campaign.getYear() }}</td>
                <td class="col-md-2">{{ campaign.getStartDate() }}</a></td>
                <td class="col-md-2">{{ campaign.getEndDate() }}</td>
                <td class="col-md-2">
                    <a class="btn btn-danger btn-sm" href="/2016">Select</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div> <!-- /container -->

{% endblock %}

{% block javascripts %}

<script>
    $(document).ready(function () {
        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    });
</script>
{% endblock %}

