AppBundle\Entity\Region:
    type: entity
    table: regions
    id:
        id:
            type: integer
            generator: { strategy: AUTO }
    fields:
        name:
            type: string
            length: 100
        svg_id:
            type: string
            length: 5
